
		<footer class="DR">
			<div class="container DR">
                <div class="row" style="direction:rtl">

                    <div class="row" style="margin: 0;">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="widget widget-map">
                            <img src="assets/images/page/bg-ft.png" alt="">
                        </div><!-- /.widget-map -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-lg-3 col-md-6 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-about">
                                <div class="logo-ft">
                                    <a href="#" title="">
                                        عيادة سمارت سليم
                                    </a>
                                </div>
                                <p>
                                    عض المحتوى والكلام يجب ان يوضع هنا نبذه عنا وصف العيادة والاطباء بعض المحتوى والكلام يجب ان يوضع هنا نبذه عنا وصف العيادة والاطباء
                                </p>
                            </div><!-- /.widget-about -->
                        </div><!-- /.col-md-3 -->


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="widget widget-categories">
                                    <h3 class="widget-title">الأقسام</h3>
                                    <ul class="one-half">
                                        <li>
                                            <a routerLink="/" title="الرئيسية">الرئيسية</a>
                                        </li>
                                        <li>
                                            <a routerLink="/ar/ourServices" title="خدماتنا">خدماتنا</a>
                                        </li>
                                        <li>
                                            <a routerLink="/ar/about" title="من نحن">من نحن</a>
                                        </li>
                                        <li>
                                            <a routerLink="/ar/doctors" title="الاطباء">الاطباء</a>
                                        </li>
                                    </ul>
                                    <ul class="one-half" style="padding-right: 30px !important;">
                                        <li>
                                            <a routerLink="/ar/about" title="الرؤية">الرؤية</a>
                                        </li>
                                        <li>
                                            <a routerLink="/ar/about" title="الرسالة">الرسالة</a>
                                        </li>
                                        <li>
                                            <a routerLink="/ar/ourArticles" title="مقالات">مقالات</a>
                                        </li>
                                        <li>
                                            <a routerLink="ar/login" title="لوحة التحكم">لوحة التحكم</a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div><!-- /.widget-categories -->
                            </div><!-- /.col-md-3 -->



                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="widget widget-contact">
                            <h3 class="widget-title">إتصل بنا</h3>
                            <ul class="contact-infomation">
                                <li class="address">
                                    ٣ب شارع النزهة بجوار الرقابة الإدارية 
                                    <br>
                                    و دار الدفاع الجوى 
                                </li>
                                <li class="phone">
                                    (02)
                                    ٢٤١٩٩٢٣٧
                                </li>
                                <li class="phone">
                                    ٠١١٥١٥٥٧٦٥٥
                                </li>
                                <li class="email">
                                    info@smartslimclinic.com
                                </li>
                            </ul>
                        </div><!-- /.widget-contact -->
                    </div><!-- /.col-md-3 -->

                </div>



                    
                </div><!-- /.row -->
			</div><!-- /.container -->
		</footer><!-- /footer -->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="social-ft">
							<li>
								<a target="_blanc" href="https://www.facebook.com/SmartSlimClinic" title="">
									<i class="ti-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" title="">
									<i class="ti-twitter-alt" aria-hidden="true"></i>
								</a>
							</li>
							
							<li>
								<a href="#" title="">
									<i class="ti-google" aria-hidden="true"></i>
								</a>
							</li>
							
						</ul><!-- /.social-ft -->
                        <div class="copyright">
                            © 2019 جميع الحقوق محفوظة - عيادة سمارت سليم
                        </div><!-- /.copyright -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
