
<section class="page-title parallax parallax1 DR">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                            الأطباء
                    </div>
                    <ul class="breadcrumbs">
                        <li>
                            <a routerLink="/" title="">الرئيسية</a>
                             <span class="arrow_left"></span>
                        </li>
                      
                        <li>
                           الأطباء
                        </li>
                    </ul>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="overlay"></div>
    </section><!-- /.page-title -->





<section class="flat-row flat-introduce">
        <div class="container">
       
            
            <div class="row">
					<div class="col-sm-8">
						<div class="introduce">
							<div class="introduce-title" style="text-align: right;direction:rtl !important">
								<h3> دكتور نوران أسامة العزيزي</h3>
								<span>1</span>
							</div>
							<div class="introduce-content" style="text-align: right;direction:rtl !important">
                                    تقدم المشورة الطبية والعلاجية على اسس علمية متطورة للأمراض الروماتزمية 
                                    والمناعية مثل أمراض الذئبة الحمراء والروماتويد والضعف المناعى 
                                    للعضلات وتيبس العمود الفقرى وتيبس الجلد والالتهاب المناعى للأوعية الدموية 
                                    والنقرص والامراض المناعية الاخرى وعلاج هشاشة العظام وهذا بالاضافة
                                    الى علاج خشونة المفاصل عن طريق الطب التجديدى بإستخدام حقن البلازما الغنية 
                                    بالصفائح الدموية (PRP) والخلايا الجذعية 
                                    (Stem Cells)
                                    وحقن 
                                    (PIT)
                                    لعلاج الالام .
                            </div>
                            <div class="entry-post">
                            <div class="entry-content">
                            <ul class="social">
                                    <li>
                                        <a href="#" title="">
                                            <i class="ti-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            <i class="ti-twitter-alt" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            <i class="ti-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            <i class="ti-google" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            <i class="ti-pinterest" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul><!-- /.social -->
                                </div>
                            </div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="introduce-image">
                                <img src="assets/images/doctorsDefaultimg.png" alt="">
						</div>
					</div>
                </div>
                
                


        </div><!-- /.container -->
    </section><!-- /.main-single -->
