<section class="page-title parallax parallax1 DR">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                            إحجز موعدك الان
                    </div>
                    <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" title="">الرئيسية</a>
                             <span class="arrow_right"></span>
                        </li>
                        <li>
                            إحجز موعدك الان
                        </li>
                    </ul>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="overlay"></div>
    </section>

    <section class="flat-row flat-iconbox style2 DR">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="iconbox-item">
							<div class="iconbox style2">
								<div class="box-header">
									<div class="iconbox-icon">
										<img src="assets/images/page/address.png" alt="">
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-desc">
										<p>
                                                3 ب ش النزهة, ارض الجولف, مصر الجديدة,
                                                 القاهرة بجوار هيئة الرقابة الادارية - ايه سى ايه 
                                        </p>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.iconbox style2 -->
						</div><!-- /.iconbox-item -->
					</div><!-- /.col-md-4 -->
					<div class="col-sm-4">
						<div class="iconbox-item">
							<div class="iconbox style2">
								<div class="box-header">
									<div class="iconbox-icon">
										<img src="assets/images/page/email.png" alt="">
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-desc">
										<p>support@smartslimclincs.com</p>
										<p>info@smartslimclincs.com</p>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.iconbox style2 -->
						</div><!-- /.iconbox-item -->
					</div><!-- /.col-md-4 -->
					<div class="col-sm-4">
						<div class="iconbox-item">
							<div class="iconbox style2">
								<div class="box-header">
									<div class="iconbox-icon">
										<img src="assets/images/page/phone.png" alt="">
									</div>
								</div><!-- /.box-header -->
								<div class="box-content">
									<div class="box-desc" style="direction:ltr;">
										<p>+ (02) 241 992 37</p>
                                        <p>+ (02) 011 515 576 55</p>
                                        <p>+ (02) 010 281 660 60</p>
                                        <p>+ (02) 010 222 429 68</p>
                                        <p>+ (02) 010 140 840 07</p>
										
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.iconbox style2 -->
						</div><!-- /.iconbox-item -->
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
        </section>
        

        <section class="flat-contact DR">
                <div class="contact-map">
                    <img src="assets/images/map.jpg" style="margin-top: 80px" alt="">
                </div><!-- /.contact-map -->
                <div class="contact-form parallax parallax1">
                    <div class="contact-us">
                        <h3 class="text-right">إحجز موعد الان</h3>
                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="wrap-contact name">
                                <input type="text" class="your-name" placeholder="الاسم" name="yourname">
                            </div>
                            <div class="wrap-contact email">
                                <input type="email" class="your-email" placeholder="البريد الالكترونى" name="youremail">
                            </div>
                            <div class="wrap-contact name">
                                    <input type="text" class="your-name" placeholder="الموبايل" name="phone">
                                </div>
                              
                            <div class="wrap-contact message">
                                <textarea class="you-message" placeholder="هل تفضل موعد محدد أو دكتور محدد ؟"></textarea>
                            </div>
                            <div class="btn-more">
                                <a href="#" title="">إرسال</a>
                            </div>
                        </form>
                    </div><!-- /.contact-us -->
                    <div class="overlay"></div>
                </div><!-- /.contact-form -->
                <div class="clearfix"></div>
            </section>