<section class="page-title parallax parallax1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                       المقالات
                    </div>
                    <ul class="breadcrumbs">
                        <li>
                            <a routerLink="/" title="">الرئيسية</a>
                             <span class="arrow_right"></span>
                        </li>
                        <li>
                                المقالات
                        </li>
                    </ul>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="overlay"></div>
    </section>




   

    <div *ngIf="loadDataa">
            <div class="preloaderInner">
                    <div class="clear-loading loading-effect-2">
                        <span></span>
                    </div>
            </div>
        </div>


<section class="flat-row flat-main-blog">
<div class="flat-row flat-main-blog">
<div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="flat-row-title center">
                        <h2>نصائح ومقالات</h2>
                        <p>
                            إقرأ المزيد للتعرف على كيفية الحفاظ على وزن مثالى
                        </p>
                    </div><!-- /.flat-row-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
    
<article-card></article-card>


</div>
</div>

</section>


